[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
opencv-python-headless = ">=4.5"
scikit-build = "*"

[dev-packages]
black = "*"
pynvim = "*"

[pipenv]
allow_prereleases = true
